body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-weight: normal;    
    font-style: normal;
    -moz-osx-font-smoothing: grayscale;
}
.top-container{
    background-color: #E4F9F5;
    padding: 100px 0 0 0;
    position: relative;
}
h1{
    margin: 0;
    font-size: 5em;
    font-family: 'Sacramento', cursive;
    color: #66BFBF;
}
h2{
    font-size: 2.5em;
    font-family: 'Montserrat', sans-serif;
    color: #66BFBF;
    font-weight: normal;
}
h3{
    font-size: 1.125em;
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}
a{
    color: #11999E;
}
.top-cloud{
    right: 300px;
    top: 50px;
    position: absolute;
}
.bottom-cloud{
    bottom: 300px;
    left:100px;
    position: absolute;
}
.programmer-image{
    width: 350px;
    height: 350px;
}
.boardgamer-image{
    width: 350px;
    height: 350px;
}
